.search_component {
    background-color: #303741;

    border-radius: 8px;
    padding-bottom: 2vh;
    overflow: auto;
    min-height: 98vh;
}

.search_box_container {
    width: 40vw;
    display: flex;
    margin: auto;
    align-content: center;
    align-items: center;
    justify-content: space-between;

}

.search_personas_container {
    width: 100%;
    display: flex;
    margin-top: 5%;
    background-color: rgba(210, 208, 206, .5);
    padding: 1vh;
    border-radius: 8px;
    align-items: center;
    justify-content: space-around;
}

.search_result_container {
    margin: auto;
    width: 100%;
    display: block;
    align-items: center;
}