.dedicated_component_container {
    display: grid;
    row-gap: 1vh;
    width: 100%;
    margin: auto;
}

.dedicated_image_container {
    overflow: hidden;
    border-radius: 8px;
    display: grid;
    align-content: center;
    height: 45vh;
}

.dedicated_image_style {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.dedicated_action_bar {
    display: flex;
    overflow: hidden;
    box-sizing: border-box;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    border-radius: 8px;
    padding: 1vh;
}

.dedicated_action_bar_buttons {
    display: flex;
    justify-content: space-between;

}

.dedicated_content_container {
    background-color: white;
    border-radius: 8px;
    padding-bottom: 2vh;
}
.subject_content_container{
    width:65%;
    margin:1vh auto;
    display:flex;
    justify-content:space-between;
    justify-items: center;
    align-items:center;
    background-color: #3b424c;
    border-radius: 8px;
    padding:10px;
}