.timeline_component_container {
    display: block;
    overflow-y: auto;
}
.tag_selection_container{
    display: flex;
    justify-content: space-between;
    align-content: center;
}
.tags_container{
    display: grid;
    row-gap: 1vh;
    /*justify-content: center;*/
}
.tag_content_container{
    /*background-color: red;*/
    /*border-radius: 8px;*/
    width: 100%;
    display: grid;
    /*flex-wrap: wrap;*/
    /*flex-basis: fit-content;*/
    row-gap: 10px;
    column-gap: 10px;
    grid-template-columns: repeat(3, 1fr);
    /*align-items: center;*/
    justify-content: space-between;
    /*justify-items: center;*/
    /*height: 30px;*/
    /*overflow: ;*/
}
.tag_search_container{
    background-color: #3b424c;
    border-radius: 8px;
    padding-top: 1vh;
    padding-bottom: 1vh;
    width: 37.8vw;
    margin: auto auto 3vh;
    display: flex;
    justify-content: center;
    align-content: center;
}
.timeline_content_container {
    box-shadow: 0 5px 5px #23282e;
    background-color: #303741;
    padding-top: 3vh;
    padding-bottom: 3vh;
    justify-content: center;
    justify-items: center;
    border-radius: 8px;
    width: 42vw;
    position: sticky;

}

.topic_container {
    background-color: #3b424c;
    border-radius: 8px;
    padding-bottom: 2vh;
    margin: 2vh auto auto;
    padding-top: 2vh;
    width: 90%;
}

.topic_fields_container {
    width: 75%;
    display: grid;
    row-gap: 1vh;
    text-align: center;
    margin: 1vh auto;
}

.topic_creator_info_container {
    width: 75%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: .8vw;
    border-radius: 8px;
    background-color: #3b424c;
    margin: auto;
}

.topic_image_container {
    max-width: 90%;

    margin: auto;
    display: flex;
    place-content: center;
    padding-bottom: 3vh;

}

.topic_buttons_container {
    margin: auto;
    display: flex;

    justify-content: center;

}

.timeline_end_container {
    background-color: #3b424c;
    border-radius: 8px;
    text-align: center;
    padding-top: 2vh;
    padding-bottom: 2vh;
}


.topic_creation_container {
    background-color: #3b424c;
    border-radius: 8px;
    display: block;
    box-sizing: border-box;
    margin: auto auto 1vh;
    padding-top: 2vh;
    padding-bottom: 2vh;
    width: 90%;

}

.topic_creation_fields {
    width: 75%;
    display: grid;
    row-gap: 1vh;
    margin: auto;
    padding-bottom: 1vh;
}

.topic_creation_top_buttons {

    width: 75%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: auto;
    padding-bottom: 3vh;
}

.topic_creation_bottom_buttons {
    width: 75%;
    margin: auto;
    display: flex;
    place-content: center;
}

.topic_creation_title {
    padding-bottom: 1vh;
    text-align: center;
}