.profile_center_component {
    margin: auto;
    width: 100%;
    padding-bottom: 5px;
}
.commit_container{
    background-color: #3b424c;
    border-radius: 8px;
    width: 12vw;
    height:7vh;
    line-height: .5vh;
    padding-left: .5vw;
    padding-right: .5vw;
    display: grid;
    grid-template-columns: 1fr 1fr;
    overflow: hidden;
    justify-content: center;
    align-content: center;
}
div.commit_container:hover {
    border:#39adf6 2px solid;
}
.profile_commit_container {
    position: fixed;
    top: 63vh;
    left: 16.5vw;

    display: grid;
    box-shadow: 0 5px 5px #23282e;
    justify-content: center;
    align-content: flex-start;
    row-gap: 1.5vh;
    border-radius: 8px;
    overflow: hidden;
    background-color: #303741;

    width: 15vw;
    height: 32.5vh;

}

.profile_background_image_container {
    position: fixed;
    top: 7.8vh;
    right: 0;

    z-index: -1;
    display: grid;
    align-content: center;
    width: 90vw;
    height: 28.5vh;
    overflow: hidden;
}

.profile_content_container {
    box-shadow: 0 5px 5px #23282e;
    background-color: #303741;
    display: flex;
    justify-content: center;
    justify-items: center;

    border-radius: 8px;
    margin-top: 27vh;
    margin-left: 36vw;
    width: 60vw;
    padding-bottom: 2vh;
    position: relative;

}

.profile_container {
    position: fixed;
    top: 27vh;
    left: 16.5vw;

    display: grid;
    grid-template-rows: 85% 10%;
    justify-content: center;

    overflow: hidden;
    border-radius: 8px;
    box-shadow: 0 5px 5px #23282e;
    background-color: #303741;
    text-align: center;

    width: 15vw;
    height: 300px;
}

.options_container {
    position: fixed;
    top: 64vh;
    right:61vw;

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    justify-content: space-between;
    column-gap: 1vw;
    row-gap: 1vh;
    align-content: space-between;
    /* row-gap: vh; */
    border-radius: 8px;
    /* grid-template-rows: 1fr 1fr 1fr; */


    width: 20vw;
    height: 25vh;
}
.profile_topics_container {
    position: relative;
    margin: auto;

    width: 42vw;
}


.option_content {
    /* margin: auto; */
    display: grid;
    /* column-gap: .5vw; */
    /*justify-items: space-between;*/
    align-items: center;
    /* width: 11vw; */
    height: 11vh;

}


.profile_background_image {
    width: 100%;
}

.background_image {
    width: 100%;
}

.profile_settings_container {
    margin-top: 2vh;

    display: grid;
    align-content: center;
    justify-content: center;
    /* justify-content: left; */
    width: 30vw;
    row-gap: 2vh;
}