.social_component_container {

    background-color: #3b424c;
    border-radius: 8px;
    padding-bottom: 2vh;
    width: 38vw;

    margin-top: 5px;
}

.social_content_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    background-color: #3b424c;
    border-radius: 8px;
    padding-right: 10px;
    padding-left: 10px;
}