.about_profile_component_container {
    display: grid;
    place-content: center;

    background-color: white;
    border-radius: 8px;
    padding-bottom: 2vh;
    padding-top: 2vh;
}

.profile_fields_container {
    display: inline-flex;
    margin-bottom: 1vh;
    margin-left: 1vw;
    background-color: rgba(210, 208, 206, .5);
    border-radius: 8px;
    padding: 10px;
    width: auto;
    align-items: center;
    justify-content: space-between;
    text-align: left;
}