.community_options_buttons {
    display: flex;
    justify-content: space-around;
    background-color: white;
    padding-bottom: 1vh;
    padding-top: 1vh;
    border-radius: 8px;
    margin: auto auto 1vh;
}

.community_about_container {
    display: grid;
    justify-content: center;
    row-gap: 1vh;
    width: 75%;
    background-color: rgba(210, 208, 206, .5);
    border-radius: 8px;
    margin: auto;
    padding: 1vh;
}