.branch_container{

    width: 82vw;
    top:11vh;
    left:15.5vw;
    position: fixed;

    display: grid;
    justify-content: center;
    justify-items: center;
    border-radius: 8px;
    box-shadow: -1px 5px 5px #23282e;
    background-color: #303741;
    
    height:89vh;
}

.table_container{
    background-color:#3b424c;
    border-radius: 8px;
    margin-top: 2vh;

    padding: 3vh;
    width: 76vw;
    overflow-x: auto;
    display:flex;
    gap: 25px;
    
    overflow-y: auto;
    height:69vh;
    
}
.column_title_container{
    border-bottom: #262d37 2px solid;
    text-align: center;
    font-size: 17px;
    font-weight: 550;
}
.cell_container{
    display: flex;
    justify-content: space-between;    
    align-items: center;
    margin-bottom: 1vh;
    
}
.column_container{
    min-width: 10vw;
    padding-left: 15px;
    padding-right: 15px;
    background-color:#484c55;
    border-radius: 8px;
    height: fit-content;
    
}

.control_bar_container{
    margin: 2vh auto auto;
    padding: 1vh;
    width: 78vw;
    background-color:#3b424c;
    border-radius: 8px;

}
.half_control_bar_container{
    display: flex;
    justify-content: space-between;
    gap: 1vw;
    align-items: center;
}